* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    top: 0;
    position: fixed;
    background-color: #9e2a2b;
    width: 100%;
    padding:40px ;
}

#titulo {
    color: aliceblue;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

#minha_foto {
    width: 400px;
}

.sobremim {
    width: 50%;
    display: inline-block;
    text-align: center;
}

.descricao {
    position:absolute;
    top: 200px;
    right: 20px;
    line-height: 25px;
}

#titulo-descricao {
    font-size: 20px;
}

article {
    max-width: 60%;
    text-align: justify;
    margin-left: 20px;
    margin-top: 20px;
    line-height: 25px;
}

#licoes {
    margin-left: 20px;
    margin-top: 20px;
}

#licoes_aprendidas {
    margin-left: 30px;
    margin-bottom: 20px;
}

#licoes_a_aprender {
    margin-left: 30px;
    margin-bottom: 20px;
}

#formacao {
    margin-left: 20px;
    margin-bottom: 50px;
}

table {
    margin-top: 20px;
    border: #003049;
    border-spacing: 5px;
}

.curso-titulo {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #9e2a2b;
}

#rodape {
    bottom: 0;
    position: relative;
    background-color: #9e2a2b;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 10px;
    margin-top: 10px;
}
