body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    top: 0;
    position: fixed;
    background-color: #9e2a2b;
    width: 100%;
}

#titulo {
    color: aliceblue;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#minha_foto {
    width: 400px;
}

article {
    width: 60%;
}

#licoes_aprendidas {

}

#licoes_a_aprender {

}

#rodape {
    bottom: 0;
    position: relative;
    background-color: #9e2a2b;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}
